/* General */

:root {
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #ACD9B2;
    --white: #FFFFFF;
    --black: #000000;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

.menu {
    display: none;
}

.logo {
    width: 150px;
}

/* Navbar (general) */

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    height: 60px;
    border-bottom: 1px solid var(--very-light-pink);
}

.navbar-left {
    display: flex;
}

.navbar-left ul {
    margin-left: 12px;
}

.navbar-left ul li a,
.navbar-right ul li a{
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover{
    color: var(--hospital-green);
    border: 1px solid var(--hospital-green);
}

.navbar-left ul,
.navbar-right ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
}

.navbar-email {
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-right: 12px;
    cursor: pointer;
}

.navbar-email:hover {
    color: var(--hospital-green);
    font-weight: bold;
}

.navbar-shopping-cart {
    position: relative;
}

.navbar-shopping-cart div{
    width: 16px;
    height: 16px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Menu on desktop */

.inactive{
    display: none;
}

.desktop-menu {
    position: absolute;
    top: 60px;
    right: 60px;
    background-color: var(--white);
    width: 100px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 20px 20px 0 20px;
    box-shadow: 5px 5px 10px var(--very-light-pink);
}

.desktop-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.desktop-menu ul li {
    text-align: end;
}

.desktop-menu ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
}

.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2) {
    font-weight: bold;
}

.desktop-menu ul li:last-child a {
    color: var(--hospital-green);
    font-size: var(--sm);
}

.desktop-menu ul li a {
    text-decoration: none;
    color: var(--black);
    margin-bottom: 20px;
    display: inline-block;
    
}

/* Menu on mobile devices    */


.mobile-menu {
    position: absolute;
    top: 60px;
    flex-direction: column;
    height: 100vh;
}

.mobile-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin: 24px 0 0;
}

.mobile-menu ul li {
    margin-bottom: 24px;
}

.mobile-menu ul:nth-child(1){
    border-bottom: 1px solid rgba(199, 199, 199, 0.3) ;
}

.mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}

.mobile-menu .email {
    font-size: var(--sm);
    font-weight: 300;
}

.mobile-menu ul:nth-child(3) {
    position: absolute;
    bottom: 100px;
}

.mobile-menu .sign-out{
    font-size: var(--sm);
    font-weight: 300;
    color: var(--hospital-green);
}


@media (max-width: 640px){
    .menu{
        display: block;
        width: 24px;
    }

    .desktop-menu, .navbar-email, .navbar-left ul{
        display: none;
    }
}

@media (min-width: 641px){
    .mobile-menu{
        display: none;
    }
}